/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    font-family: "Shrikhand", serif;
    box-sizing: border-box;
}

* {
   border: 1px solid red; 
} 

:root {
    /* envisager de renommer les couleurs par usage, mais pour l'instant je ne vois pas les usages */
    --button-purple :  #9356DC;
    --light-green : #99E2D0;
    --dark-green: #008766;
    --light-blue: #89C8FA;
    --dark-blue :  #003A68;

}

/* .fa-solid {
    color : var(--button-purple);
} */


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
}

/* nav {
    padding-right: 50px;
} */
h1{
    font-size: 30px ;
    font-weight: 400;
}

nav i {
    width: 30px;
    height: 30px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
   
   


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
  
   
}

/*Ajout d'un message d'erreur pour les écrans inférieurs à la largeur min garantie*/
@media (max-width: 319px) {
    main::before {
      content: "Votre écran est trop petit pour un affichage optimal.";
      display: block;
      color: red;
      background-color: gray;
      text-align: center;
      padding: 10px;
      position: fixed;
      left: 50%;
      transform: translateX(-50%); /* Centre réellement le message */
      z-index: 1000;
    }
} 