@keyframes fadeout{
  0% {
    opacity: 1;
    /* transform: scale(1); */
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden
  }
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}