
//************* HOMEPAGE : LOADER******************
@keyframes fadeout{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    // même si opacité 0, l'objet prend toujours toute la page et tourne en continu 
    // display none simule la disparition du bloc (fin de la ressource chargement aussi ?)
    // Plus de rendu graphique : Les ressources GPU ne sont plus utilisées pour dessiner le loader (ce qui est significatif pour des animations).
    // Moindre charge CPU : Aucune mise à jour visuelle n’est nécessaire.
    // Ressources associées : Les styles SCSS/CSS, le code HTML, et les références dans le DOM sont encore là. Cela ne devient "gratuit" qu'après une suppression réelle du DOM (via JavaScript).
    display: none;
  }
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}


//************* PAGE MENU : APPARITION DES PLATS******************
@keyframes appear {
  from{
      transform: translateX(-600px);
      opacity: 0%;
  }
  to{
      transform: translateX(0);
      opacity: 100%;
  }
}